---
// ColorPalette.astro
export interface Props {
    imageUrl: string;
    className?: string;
    id?: string;
}

const { imageUrl, className = "", id } = Astro.props;
---

<img
    id="colorThiefImage"
    src={imageUrl}
    alt="Imagen para extraer colores"
    crossorigin="anonymous"
    style="display: none;"
/>
<section
    id={id}
    class={className}
>
    <slot />
</section>

<script>
    import { setupColorExtraction } from '../../components/songs/Colorthief2';
    
    document.addEventListener('astro:page-load', () => {
        setupColorExtraction('colorThiefImage', 'gradient-container', 'gradient-container-2');
    });
</script>