---
import Github from "@components/icons/github.astro"
import Linkedin from "@components/icons/linkedin.astro"
import Twitter from "@components/icons/twitter.astro"
---
<footer class="container h-full mx-auto my-12 text-white max-w-7xl sm:px-6 xl:px-0">
    <div class="flex flex-col-reverse gap-4 items-center justify-center text-xl sm:flex-row sm:justify-between">
        <div class="flex gap-2">
            <a href="https://twitter.com/Juan1497095" target="_blank"><Twitter class=" size-9 fill-white" /></a>
            <a href="https://www.linkedin.com/in/montenegro-dev" target="_blank"><Linkedin class=" size-8 fill-white" /></a>
            <a href="https://github.com/Juanshiu" target="_blank"><Github class=" size-8 fill-white" /></a>
        </div>
        <a href="#" class="flex items-center gap-2 ">
            <img src="/svg/arrowup.svg" alt="" class="p-1 border border-white rounded-full animate-duration-1000 animate-delay-200 animate-shakes">
            <span>Volver a inicio</span>
        </a>
    </div>
    
    <div class="flex flex-col gap-4 items-center justify-between mt-4 font-light sm:flex-row">
        <div class=" flex gap-4">
            <p class="text-center "> Privacidad y Política</p>
            <p class="text-center "> Términos y Condiciones</p>
        </div>
        <p>Hecho con 💚 por Juan Diego</p>
    </div>
</footer>

<style>
    footer {
    mix-blend-mode: difference;
  }
</style>