<header class=" w-full relative px-12 flex items-center justify-between text-white font-light bg-white/10 backdrop:blur-sm ">
    <div class=" flex flex-col p-4">
        <img src="songlit.svg" class=" size-12" alt="">
    </div>
    <nav>
        <a href="" class="p-4 transition-all hover:text-pink-300">TENDENCIAS</a>
        <a href="" class="p-4 transition-all hover:text-pink-300">NOTICIAS</a>
        <a href="" class="p-4 transition-all hover:text-pink-300">FAVORITOS</a>
    </nav>
    <div class=" flex items-center gap-4">
        <a href=""><img src="facebook.svg" alt="" class="transition-all hover:fill-pink-300"></a>
        <a href=""><img src="instagram.svg" alt=""></a>
        <a href=""><img src="twitter.svg" alt=""></a>
    </div>
    <hr class=" w-11/12 absolute top-20 mx-auto">
</header>