<header class=" w-full fixed z-10 px-12 flex items-center justify-between text-white font-light bg-white/10 backdrop-blur-xl ">
    <div class=" flex flex-col p-4">
        <img src="songlit.svg" class=" size-12" alt="">
    </div>
    <nav>
        <a href="" class="p-4 transition-all hover:text-pink-300">TENDENCIAS</a>
        <a href="" class="p-4 transition-all hover:text-pink-300">NOTICIAS</a>
        <a href="" class="p-4 transition-all hover:text-pink-300">FAVORITOS</a>
    </nav>
    <div class=" flex items-center gap-4">
        <a href="https://www.linkedin.com/in/montenegro-dev" target="_blank"><img src="linkedin.svg" alt=""></a>
        <a href="https://github.com/Juanshiu" target="_blank"><img src="github.svg" alt=""></a>
        <a href="https://twitter.com/Juan1497095" target="_blank"><img src="twitter.svg" alt=""></a>
    </div>
    <hr class=" w-[90%] absolute top-20 left-0 right-0 mx-auto">
</header>