---
import Color from "@components/songs/color.astro";
---

<Color imageUrl="http://localhost:1337//uploads/ab67616d0000b27332f5fec7a879ed6ef28f0dfd_6389ebfc27_23bb1afb76_jpg_f4b822c7a1.jpg" id="gradient-container">
    <article   class="w-full h-[19.5rem] px-8 pt-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe placeat magni, porro iusto, nulla sint quas provident quia est facere officiis aspernatur sapiente accusantium error hic rem illum ea.</p>
        
    </section>
</Color>
