---
import "./index.css";
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import ScrollText  from "../components/textscroll.astro";
import Gallery3D from "../components/Gallery3D.astro";
---

<Layout title="Songlit" description='Biblioteca de Artistas, Caciones y Discografía '>

    <Section id="inicio" class=" flex flex-col lg:flex-row mt-12 sm:px-4 xl:p-0 ">

        <article class=" w-full h-auto flex flex-col justify-center text-white ">
    
            <div class=" animate-fade-right animate-ease-out animate-delay-200" >
                <h3 class="animate-charcter  text-9xl font-semibold text-left"> SonGlit</h3>
            </div>

                <h2 class=" animate-fade-right animate-ease-out animate-delay-300 text-3xl">Todo lo que quieras saber sobra la música, está aquí.</h2>

                <p class=" animate-fade-right animate-ease-out animate-delay-500 text-lg mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quidem fuga soluta veniam corrupti repellat nostrum. Explicabo reprehenderit laborum beatae?</p>

            <div  class="animate-fade-right animate-ease-out animate-delay-700 mt-6">
                <a href="#" class=" w-min px-4 py-2 rounded-full cursor-pointer border-0 bg-white text-black shadow-md tracking-widest uppercase text-sm transition-all duration-500 ease-in-out hover:tracking-wider hover:bg-purple-500 hover:text-white hover:shadow-lg active:tracking-wider active:bg-purple-500 active:text-white active:shadow-xl active:translate-y-1 active:transition-[100ms]">Descubre</a>
            </div>

        </article>
        
        <article class=" w-auto h-auto animate-fade-left animate-ease-out animate-delay-200"> 
            <video src="video/headphone.mp4" autoplay loop muted playsinline></video>
        </article>

    </Section>

    <ScrollText />
    
    <Section class=" flex h-auto px-8 my-32 text-white gap-56">
        <article class=" w-1/2 flex flex-col justify-center">
            <h1 class=" text-6xl font-semibold">¿Quieres saber que ningún otro sobre música?</h1>
            <p class=" mt-4 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, accusantium! Tempora, provident repellat placeat recusandae, eaque deserunt, animi dolorum ut debitis distinctio commodi doloremque? Nemo excepturi molestiae harum necessitatibus repellat.</p>
        </article>

        <article class=" w-1/2 relative">
            <div class=" circle"></div>
            <div>
                <img src="prueba.svg" class="" alt="">
                <Gallery3D />
            </div>
        </article>
    </Section>

</Layout>