---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Header from "@components/Layout/Header/Header.astro";
import Footer from "@components/Layout/Footer.astro";
---

<Layout title="Songlit | Tendencias" description="Aquí encontrarás las últimas tendencias relacionadas con el mundo de la música.">
    <Header />
    <main>

        <Section>
            
            <h1>Hello world!</h1>

        </Section>

    </main>
    <Footer />
</Layout>