---
import Search from "./Search.astro";
import "../../../pages/styles/header.css";

type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<header class={`fixed z-10 w-full font-light text-white sm:px-8 px-4 backdrop-blur-xl  ${className}`}>
    <div class=" relative flex items-center justify-between">

        <a href="/" class="flex flex-1 p-2 ">
            <img src="/svg/songlit.svg" class=" size-12" alt="">
        </a>
        <nav class="hidden sm:flex text-lg justify-center gap-4" >
            <a href="/tendencias" class="p-2 transition-all hover:text-pink-300">TENDENCIAS</a>
            <a href="" class="p-2 transition-all hover:text-pink-300">NOTICIAS</a>
            <a href="" class="p-2 transition-all hover:text-pink-300">FAVORITOS</a>
        </nav>
        
        <hr class=" w-[92%] absolute top-16 left-0 right-0 mx-auto">
        
        <Search />
        
        <!-- Menú responsive -->
        <label class="hamburger sm:hidden cursor-pointer p-1 rounded-lg" for="menuToggle">
            <input type="checkbox" id="menuToggle" class="hidden lg:hidden">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>
    </div>
    <div id="menu" class=" my-2 sm:hidden" >
        <ul class="list-none flex flex-col items-center rounded-md animate-fade-down animate-duration-200">
            <li class=" font-medium text-xl py-2"><a href="/tendencias">TENDENCIAS</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Proyectos">NOTICIAS</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Experiencia">FAVORITOS</a></li>
            <label class=" flex items-center justify-center w-full h-auto py-2 px-4 text-white bg-white/10 rounded-full">
                <input type="text" id="typed" class="w-full h-full bg-transparent border-none outline-none">
                <img src="/svg/search.svg" class="w-4 h-4" alt="">
            </label>
        </ul>
    </div>
</header>

<script type="module">
    document.addEventListener('astro:page-load', () => {
        const btn = document.querySelector('#menuToggle');
        const menu = document.querySelector('#menu');
            menu.style.display = 'none';
        
            btn.addEventListener('click', () => {
            if (menu.style.display === 'none') {
            menu.style.display = 'block';
            } else {
            menu.style.display = 'none';
            }
        });
            window.addEventListener('resize', () => {
            if (window.innerWidth > 640) {
            menu.style.display = 'none';
            }
        });
    });
</script>