<div class="container">
    <div class="images">
        <img src="img/badb.jpeg" alt="">
        <img src="img/booming.webp" alt="">
        <img src="img/drake.png" alt="">
        <img src="img/taylor.png" alt="">
        <img src="img/tainy.jpg" alt="">
        <img src="img/mora.jpeg" alt="">
        <img src="img/jung.png" alt="">
    </div>
</div>

<style>
    img {
        position: absolute;
        width: 160px;
        height: 160px;
    }
    .container {
        bottom: 1rem;
        right: 1rem;
        transform: rotateX(-15deg) rotatez(-20deg);
        width: 150px;
        height: 150px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    .images {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        animation: rotate 20s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotateY(360deg);
        }
    }
    
    img:nth-child(1) {
        transform: rotateY(60deg) translateZ(200px);
    }
    img:nth-child(2) {
        transform: rotateY(120deg) translateZ(200px);
    }
    img:nth-child(3) {
        transform: rotateY(180deg) translateZ(200px);
    }
    img:nth-child(4) {
        transform: rotateY(240deg) translateZ(200px);
    }
    img:nth-child(5) {
        transform: rotateY(300deg) translateZ(200px);
    }
    img:nth-child(6) {
        transform: rotateY(360deg) translateZ(200px);
    }
    img:nth-child(7) {
        transform: rotateY(420deg) translateZ(200px);
    }

    @media screen and (max-width: 426px) {
        img {
        width: 90px;
        height: 100px;
    }

    img:nth-child(1) {
        transform: rotateY(60deg) translateZ(150px);
    }
    img:nth-child(2) {
        transform: rotateY(120deg) translateZ(150px);
    }
    img:nth-child(3) {
        transform: rotateY(180deg) translateZ(150px);
    }
    img:nth-child(4) {
        transform: rotateY(240deg) translateZ(150px);
    }
    img:nth-child(5) {
        transform: rotateY(300deg) translateZ(150px);
    }
    img:nth-child(6) {
        transform: rotateY(360deg) translateZ(150px);
    }
    img:nth-child(7) {
        transform: rotateY(420deg) translateZ(150px);
    }

        .container {
        bottom: 11rem;
        right: 0rem;
        }
    }

    @media screen and (min-width: 768px) {
        .container {
        bottom: 16rem;
        right: 6rem;
        }
    }

    @media screen and (min-width: 1024px) {
        img {
            width: 120px;
            height: 130px;
        }
        .container {
            bottom: 13rem;
            right: 4rem;
        }
    }

    @media screen and (min-width: 1440px) {
        img {
            width: 140px;
            height: 150px;
        }
        .container {
            bottom: 14rem;
            right: 10rem;
        }
    }
</style>